{% extends "accounts/base.html" %}

{% block title %}Lista de menús{% endblock %}

{% block content %}
{% for message in messages %}
    <li class="{{ message.tags }}">
        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
    </li>
{% endfor %}

<table>
<tr>
{% for option in optionDishRelation %}
    <ul>{{option.meal_option}}     
    {% for values in dishOptionRelation %}
        {% if values.meal_option_id == option.meal_option_id%}
            <li>{{values.dish}}:</li>
            {% for ingredient in dishesIngredients %}
                {% if ingredient.dish_id == values.dish_id%}
                    <ul><li>{{ingredient.ingredient}}</li></ul>
                {% endif %} 
            {% endfor %}
        {% endif %} 
    {% endfor %}
    </ul>
{% endfor %}
</tr>

</table>
<a href="{% url 'home' %}">Inicio</a>
{% endblock %}