{% extends "accounts/base.html" %}

{% block title %}Órdenes{% endblock %}

{% block content %}
{% for message in messages %}
    <li class="{{ message.tags }}">
        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
    </li>
{% endfor %}

<table>
{% for options in data %}
    <tr>
        <td>{{options.ordered_dish.order.user}}</td>
        <td>{{options.ordered_dish.ordered_dish}}</td>
        <td>{{options.ingredient}}</td>
        <td>{{options.quantity}}</td>
    </tr>
{% endfor %}

</table>
<a href="{% url 'home' %}">Inicio</a>
{% endblock %}